/* th {
  min-width: 80px;
  font-size: 1.2rem;
  margin-right: 0;
} */

th {
  min-width: 80px;
  font-size: 1.2rem;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-right: 0px !important;
}

td {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

p-text-left td {
  text-align: left;
  font-size: 0.7rem;
}

.red {
  color: white;
  background-color: tomato;
  font-weight: bold;
}

.green {
  color: white;
  background-color: green;
  font-weight: bold;
}
