th {
  min-width: 100px;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

td {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.red {
  color: white;
  background-color: tomato;
  font-weight: bold;
}

.green {
  color: white;
  background-color: green;
  font-weight: bold;
}

.batch-count {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 0.7rem;
  color: #ffffff;
  background-color: rgba(0, 128, 255, 0.7);
  padding: 1px 3px;
  border-radius: 2px;
  line-height: 1;
  min-width: 14px;
  text-align: center;
  z-index: 1;
}

.sell-batch-count {
  position: absolute;
  top: 12px;
  right: 2px;
  font-size: 0.7rem;
  color: #ffffff;
  background-color: rgba(255, 165, 0, 0.7);
  padding: 1px 3px;
  border-radius: 2px;
  line-height: 1;
  min-width: 14px;
  text-align: center;
  z-index: 1;
}

.profit-cell {
  position: relative !important;
  padding-right: 25px !important;
  min-width: 100px;
}